@import 'fonts.css';


:root{
    --m-l:'montserrat-light';
    --r-b:'raleway-bold';
    --r-e-b:'raleway-extrabold';
    --r-m:'raleway-medium';
    --r-r:'raleway-regular';
    --r-s: 'raleway-semibold';
}


/* *************************************************** */
/* ----------------- header start -------------------- */

header{
    background: url(../img/fon-one.jpg) no-repeat center center / cover;
    height: 100vh;
    position: relative;
}

.header__menu{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header__nav-link{
    font-size: 12px;
    color: #191919;
    text-transform: uppercase;
    font-family: var(--m-l);
    font-weight: bold;
    margin: 0 14px;
}

.header__nav-link:hover{
    color: #007d2f;
    text-decoration: none;
}

.header__title{
    font-family: var(--m-l);
    font-size: 35px;
    color: #1d1d1d;
    font-weight: bold;
    margin-top: 25%;
}

.header__text{
    font-size: 15px;
    color: #787878;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 53px;
}

.header__button{
    font-size: 12px;
    font-family: var(--m-l);
    color: #ffffff;
    text-transform: uppercase;
    padding: 22px 44px;
    background: #007d2f;
    transition: 0.5s;
    font-weight: bold;
}

.header__button:hover{
    text-decoration: none;
    background: #11d15b86;
    color: #191919;
}


/* ----------------------- header end ------------------------- */
/* ************************************************************ */
/* ---------------------- about start ------------------------- */

.about{
    padding: 96px 0 42px;
}

.about .about__title{
    font-size: 34px;
    color: #191919;
}
.about .about__text{
    font-size: 13px;
    color: #787878;
}

/* ----------------------- about end ------------------------- */
/* *********************************************************** */
/* ---------------------- skills start ----------------------- */

.skills{
    background: #f8f9f9;
}

.skills img{
    width: 100%;
}

.skills__row{
    margin-left: 0;
    margin-right: 0;
}

.skills__col{
    padding-left: 0;
    padding-right: 0;
}


.skills h2{
    font-size: 30px;
    color: #171717;
    font-family: var(--m-l);
    font-weight: 700;
}

.skills .skills__design, 
.skills .skills__web, 
.skills .skills__marketing{
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--m-l);
    margin-top: 41px;
}

.skills .skills__design::after,
.skills .skills__web::after, 
.skills .skills__marketing::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #007d2f 75%, #d8d8d8 25%);
    margin-top: 20px;
}

.skills .skills__web::after{
    background: linear-gradient(to right, #007d2f 90%, #d8d8d8 10%);
}

.skills .skills__marketing::after{
    background: linear-gradient(to right, #007d2f 65%, #d8d8d8 35%);
}

.skills .skills__text{
    padding: 165px 55px 0 129px;
}

.skills__grin{
    background: #007d2f;
    padding: 80px 0;
}

.grin__fad{
    font-size: 50px;
    color: #ffffff;
}

.grin__null{
    font-size: 18px;
    color: #ffffff;
    font-family: var(--m-l);
    font-weight: 700;
}

.grin__text{
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: var(--m-l);
    font-weight: 700;
}

/* ----------------------- skills end ------------------------- */
/* ************************************************************ */
/* ---------------- section img-icon start -------------------- */

.section__img-icon img{
    width: 100%;
}


.section__img-icon .block-img{
    position: relative;
}

.section__img-icon .block-img a{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #252525a9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #ffffff;
    opacity: 0;
    transition: 0.5s;
}


.section__img-icon .block-img:hover a{
    opacity: 1;
    text-decoration: none;
}

/* ----------------- section img-icon end ------------------- */
/* ********************************************************** */
/* ---------------- section slider start -------------------- */

.section-slider{
    background: #007d2f;
    padding: 195px 0 172px;
}

.section-slider .slider-text-1{
    font-size: 19px;
    color: #ffffff;
}

.section-slider .slider-text-2{
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 45px;
}

.section-slider .carousel-indicators{
    bottom: -100px;
    align-items: center;
}

.section-slider .carousel-indicators li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.section-slider .carousel-indicators .active{
    width: 10px;
    height: 10px;
}


/* ----------------- section slider end ------------------- */
/* ********************************************************* */
/* ---------------- section-project start ------------------ */

.section-project{
    background: #f5f5f5;
    padding: 28px 0 100px;
}

.section-project input, textarea{
    width: 100%;
    padding: 18px 15px;
    font-size: 15px;
    color: #787878;
    background: #ffffff;
    border: none;
    margin-bottom: 30px;
}
.section-project button{
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    background: #007d2f;
    padding: 15px 0;
    width: 100%;
    border: none;
    font-weight: 700;
}

.section-project p{
    font-size: 16px;
    color: #787878;
}

.section-project h4{
    font-size: 30px;
    color: #1d1d1d;
    font-weight: 700;
}
/* ---------------------- section-project end ----------------- */
/* ************************************************************ */
/* ---------------------- section text start ----------------- */

.section__text{
    padding: 45px 0;
    background: #007d2f;
}


.section__text h3{
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

/* ----------------------  section text end ----------------- */
/* ************************************************************ */
/* ---------------------- section video start ----------------- */

.section-video{
    padding: 109px 0;
}

.section-video h3{
    font-size: 43px;
    color: #191919;
}

.section-video p{
    font-size: 22px;
    color: #787878;
    margin-bottom: 46px;
}
/* ----------------------  section video end ----------------- */
/* *********************************************************** */
/* --------------------------- icon start -------------------- */

.section__icons h3{
    font-size: 11px;
    color: #191919;
    font-weight: 700;
    text-transform: uppercase;
}

.section__icons p{
    font-size: 15px;
    color: #787878;
}

.section__icons .icona{
    font-size: 47px;
    color: #808080;
    margin-bottom: 26px;
}

.section__icons{
    background: #f5f5f5;
    padding: 109px 0;
}
/* --------------------------  icon end ---------------------- */
/* *********************************************************** */
/* --------------------------- logo start -------------------- */
.section__logo{
    padding: 67px 0;
}

/* --------------------------------------------------------------- */

.footer{
    background: #141414;
}

.footer h4{
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.footer h5{
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}


.footer h3{
    color: #ffffff;
    font-size: 17px;
}

.footer__end{
    padding: 108px 0;
    display: flex;
    flex-direction: column
}


/* ************************************************************ */
/* ----------------------- madia start ------------------------ */

@media (max-width: 1300px){
    .skills .skills__text{
        padding: 20% 55px 0 129px;
    }
}


@media (max-width: 991px){
    header .navbar-nav{
        background: #11d15b;
        padding: 50px;
        border-radius: 20px;
    }

    .skills .skills__design::after,
    .skills .skills__web::after, 
    .skills .skills__marketing::after{
    margin-top: 10px;
    }

    .skills .skills__design, 
    .skills .skills__web, 
    .skills .skills__marketing{
    margin-top: 20px;
    }
    
    .footer__end {
        padding: 50px 0;
    }
    
    .section__icons p {
        margin-left: 10px;
    }
    
    .section__logo img{
        margin-top: 20px;
    }
    
    .section-slider {
        padding: 100px 0 130px;
    }
    
    header {
        height: 50vh;
    }
    
    header .navbar-nav {
        padding: 10px 0;
        text-align: center;
    }
}

@media (max-width: 884px){
    .skills h2{
        font-size: 25px;
    }
}

@media (max-width: 800px){
    .skills .skills__text{
        padding: 20% 55px 0 18%;
    }
}

@media (max-width: 767px){
    .skills .skills__text{
        padding: 20% 15% 20% 15%;
    }
    
    .section__logo {
        padding: 50px 0;
    }
    
    .footer__end {
        padding: 30px 0;
    }
    
    .footer h4 {
        margin-top: 20px;
    }
    
    .section-slider {
        padding: 50px 0 100px;
    }
    
    .section__icons {
        padding: 50px 0;
    }
    
    .section-video {
        padding: 50px 0;
    }
    
    .section__text {
        padding: 30px 0;
    }
    
    .section__icons p {
        margin-bottom: 40px;
    }
    
    .section__logo img {
        margin-top: 30px;
    }
    
    .grin__fad {
        font-size: 35px;
    }
    
    .grin__null {
        font-size: 15px;
        margin-bottom: 3px;
    }
    
    .skills__grin {
        padding: 50px 0;
    }
    
    header {
        height: 44vh;
    }
}

@media(max-width: 575px){
    .footer__end {
        padding: 50px 26px;
    }
    
    .footer h4 {
        font-size: 11px;
        line-height: 17px;
        text-align: center;
    }
    
    .footer h5 {
        font-size: 11px;
        line-height: 17px;
        text-align: center;
    }
    
    .footer h3 {
        font-size: 15px;
        text-align: center;
    }
    
    .header__title {
        font-size: 27px;
    }
    
    .header__button {
        padding: 10px 10px;
    }
    
    
    .header__text {
        font-size: 14px;
    }
    
    .about .about__title {
        font-size: 27px;
    }
    
    .about .about__text {
        font-size: 11px;
    }
    
    .section-video h3 {
        font-size: 27px;
    }
    
    .section-video p {
        font-size: 17px;
    }
    
    .section-slider .slider-text-1 {
        font-size: 14px;
    }
    
    .section-slider .carousel-indicators {
        bottom: -50px;
    }
    
    .section-slider {
        padding: 50px 0;
    }
    
    .section-slider .slider-text-2 {
        margin-top: 20px;
        font-size: 14px;
    }
    .section-project h4 {
        font-size: 27px;
    }
    
    .section-project p {
        font-size: 13px;
    }
    
    .section-project {
        padding: 28px 10px 30px;
    }
    
    .section__logo {
        padding: 30px 0;
    }
    
    .section__logo img {
        margin-top: 15px;
    }
    
    .skills__grin {
        padding: 50px 0;
    }
    
    .grin__text {
        font-size: 11px;
    }
    
    .grin__null {
        font-size: 12px;
    }
    
    .grin__fad {
        font-size: 25px;
    }
    
    .skills__grin {
        padding: 25px 0;
    }
    
    .section__text h3 {
        font-size: 17px;
    }
    
    header {
        height: 39vh;
    }
    
    .header__text {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

@media(max-width: 400px){
    .header__title {
        margin-top: 30%;
    }
}


@media(max-width: 320px){
    .footer__end {
        padding: 30px 0;
    }
    
    .header__title {
        font-size: 23px;
        margin-top: 40%;
    }
    
    .about {
        padding: 60px 0 24px;
    }
    
    .skills h2 {
        font-size: 23px;
    }
    
    .section__text h3 {
        font-size: 17px;
    }
    
    .section-video h3 {
        font-size: 20px;
    }
    
    .section-video {
        padding: 25px 0;
    }
    
    .section-video p {
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    .section__icons p {
        font-size: 11px;
    }
    
    .section-project h4 {
        font-size: 24px;
    }
    
    .section-project p {
        font-size: 11px;
    }
    
    .section__icons {
        padding: 40px 0;
    }
    
    .section__text h3 {
        font-size: 14px;
    }
}